In [4]:
from sqlalchemy import text
from sqlalchemy import create_engine
from sqlalchemy.engine.base import Engine

conn_str = f'postgresql://bashiraziz:RCEfpoZGdj49@ep-rapid-morning-256184.us-east-2.aws.neon.tech/neondb?sslmode=require'
engine: Engine = create_engine(conn_str)
with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

[('hello world',)]

In [5]:
from sqlalchemy import text

with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )
    conn.commit()

In [7]:
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

In [8]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10

In [9]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table WHERE y > :y"), {"y": 2})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

x: 2  y: 4
x: 6  y: 8
x: 9  y: 10